name: build

on:
  pull_request:
    paths:
      - 'build.sh'
      - '.github/workflows/build.yml'

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install resvg
        run: |
          # Why Ubuntu uses legacy version of resvg?

          mkdir bin
          cd bin

          # depName=RazrFalcon/resvg
          RESVG_VERSION="v0.45.1"

          wget "https://github.com/RazrFalcon/resvg/releases/download/${RESVG_VERSION}/resvg-linux-x86_64.tar.gz"
          tar xf resvg-linux-x86_64.tar.gz

          cd ..

      - name: build
        run: |
          PATH="./bin/:$PATH" ./build.sh

